/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

h2 {
    text-align: center;
    margin: 10px 0;    
}
.product-info img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Estilo para el contenedor del producto */
.product-container {
    display: flex;
    flex-direction: column; /* Cambia la dirección de flexión a columna en dispositivos móviles */
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    max-width: 100%; /* Asegura que el contenedor no exceda el ancho de la pantalla */
    margin-left: auto;
    margin-right: auto;
}

/* Estilo para la información del producto */
.product-info {
    width: 100%; /* Asegura que la información del producto ocupe todo el ancho disponible */
    min-height: 300px;
    padding: 20px;
}

/* Estilo para la imagen del producto */
#imagenProducto {
    border-radius: 50px;
    width: 100%; /* Asegura que la imagen ocupe todo el ancho disponible */
    height: auto;
    margin-left: 20px;
    margin-bottom: 20px; /* Añade un margen en la parte inferior para separar la imagen de los detalles */
}

/* Estilo para los botones de acción */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

/* Media Query para pantallas más grandes */
@media (min-width: 740px) {
    .product-container {
        flex-direction: row; /* Cambia la dirección de flexión a fila en pantallas más grandes */
    }

    #imagenProducto {
        width: 50%; /* Ajusta el ancho de la imagen en pantallas más grandes */
        margin-right: 20px; /* Añade un margen a la derecha de la imagen */
    }

    .product-info {
        width: 45%; /* Ajusta el ancho de la información del producto en pantallas más grandes */
    }
}
